$font-family : 'Arial', sans-serif;
$font-color : white;
$gradient-colors: (
    #a706ce,
    #8800c3,
    #6800b7,
    #4300aa,
    #01009d
);

$background-image: ();

@for $i from 1 through length($gradient-colors) {
    $background-image: append($background-image, nth($gradient-colors, $i) $i * 20%);
}
.banner{
    background-image: $background-image;
    padding: 4rem;

    h1,p{
        font-family: $font-family;
        color: $font-color;

    }
    a{
        display: inline-block;
        text-decoration: none;
        font-size: 0.875rem;
        padding: 0.875rem 1.25rem;
        border: 0.125rem solid white;
        border-radius: 2rem;
        line-height: 1;
        font-weight: 500;
        transition: color .25s;
        text-transform: uppercase;
        margin-top: 2rem;
        letter-spacing: .15em;
        cursor: pointer;
        color: white;
        font-family: $font-family;
    }

}
